[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
slow_query_log=/home/mysql/slow_query.log
log-error=/home/mysql/mysql_err.log
general_log=/home/mysql/mysql.log
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character-set-server=utf8
skip-grant
skip-external-locking
back_log=500
key_buffer_size=384M
max_allowed_packet=32M
table_cache=512
sort_buffer_size=4M
read_buffer_size=4M
join_buffer_size=8M
query_cache_size=64M
thread_cache_size=16384
tmp_table_size=256M
max_connections=1000
max_connect_errors=10000000
wait_timeout=10
thread_concurrency=8
long_query_time=10

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
#character-set-server=utf8
