[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
#default-character-set=utf8
character-set-server=utf8
max-allowed-packet = 2M
general-log=1
general-log-file=/home/general_log_file.log
slow-query-log=1
slow-query-log-file=/home/slow_query_log_file.log
long-query-time=30

[mysqld_safe]
#log-error=/var/log/mysqld.log
log-error=/home/log_error.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8
#character-set-client=utf8
